{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">  
{% endblock %}

{% block app_content %}
<h2>Регистрация</h2>
<div id="tabs">
  <button id="tabs1"><a href="{{ url_for('auth.reg_an', form=form) }}">Агентство недвижимости</a></button>
  <button id="tabs2"><a href="{{ url_for('auth.reg_rl', form=form) }}">Риелтор</a></button>
  <button id="tabs3"><a href="{{ url_for('auth.reg_ow', form=form) }}">Собственник</a></button>
  <button id="tabs4"><a href="{{ url_for('auth.reg_us', form=form) }}">Пользователь</a></button>
</div>
{% endblock %}
