<html>
<head>
<title>jQuery .click</title>
</head>
<body>
<p><a href="#" id="a1">Hello, world!</a></p>
<p><a href="#" id="a2">Good Bye, world!</a></p>
<form action="ff" method="get"> 
<p><div id="div"></div></p>
<p id="hd"><input type="hidden" name="hiddenValue" value="No Value"></p>
<input type="submit" value="Plum!" >
</form>
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
$( document ).ready(function() {
    $( "#a1" ).click(function( event ) {
		var v1 = "<div id=\"div\">Hello, world!</div>"
		$( "div" ).replaceWith(v1);
    });
});
$( document ).ready(function() {
    $( "#a2" ).click(function( event ) {
		var v1 = "<div id=\"div\">Good Bye, world!</div>"
		$( "div" ).replaceWith(v1);
    });
});
</script>
<script>
	var function ff(var arg) {
		alert(arg);
	}
</script>
</body>
</html>