{% extends 'admin/master.html' %}

{% block body %}
<h1>My Purchases</h1>
  <p>admin_view = {{ admin_view }}</p>
  <p>current_user = {{ current_user }}</p>
  <p>current_user.is_authenticated = {{ current_user.is_authenticated }}</p>
  <hr/>
  <h3>Мои предложения - продажа<h3>
  {% for my_realty in realty %}
	<p>{{ my_realty }}</p>
  {% endfor %}

{% endblock %}

{% block tail %}
<script type="text/javascript">
$(document).ready(function(){
     $(".pane .delete").click(function(){
        $(this).parents(".pane").animate({ opacity: "hide" }, "slow");
    });
});
</script>
{% endblock %}