{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
	<h3> Выбор и установка фильтров</h3>
	<div class="row">
		<div class="col-md-4">
			{{ wtf.quick_form(form) }}
		</div>
	</div>
	
    {% if object_list %}
	<h4><b>Список жилья, соответствующего вашему запросу:</b></h4>
        {% for hs in object_list %}
		<div style="border: 1px solid black; font-size: 1.2em; padding-left: 15px; margin-bottom: 6px;">
            <b>Адрес:</b>{{ hs.address }}.<br/> 
		    <b>Количество комнат:</b> {{ hs.rooms }}&nbsp; 
		    <b>Площадь:</b> {{ hs.living_area }}&nbsp;
			<b>Этаж:</b> {{ hs.nfloor }}&nbsp;
		    <b>Цена:</b> {{ hs.price }}  р.</p><hr/>
		</div>
        {% endfor %}
    {% endif %}
{% endblock %}