<table class="table table-hover" >
    <tr>
        <td>
			<a href="{{ url_for('main.user', username=post.username) }}"><img src="{{ url_for('static', filename='img/edit.png') }}"></a>
		</td>
		<td>
			<a href="{{ url_for('main.user', username=post.username) }}"><img src="{{ url_for('static', filename='img/delete.png') }}"></a>
		</td>
		<td>
			<a href="{{ url_for('main.user', username=post.username) }}"><img src="{{ url_for('static', filename='img/pause.png') }}"></a>
		</td>
		<td>
			{{ post }}
		</td>
    </tr>
</table>
