
{% extends 'bootstrap/base.html' %}

{% block title %}
	{% if title %}{{ title }} - IIS365{% else %}Welcome to IIS365{% endif %}
{% endblock %}

{% block navbar %}
	<nav class="navbar navbar-default">
		<div class="container">
		<button type="button" class="btn">
		<a class="blog-nav-item" href="{{ url_for('main.index') }}" }}> Домашняя страница </a>
		</button>
		
		<button type="button" class="btn">
		<a class="blog-nav-item" href="{{ url_for('hse.index') }}" }}> Аренда </a>
		</button>
		
		{% if not current_user.is_anonymous %}
			<button type="button" class="btn">
			<a class="blog-nav-item" href="{{ url_for('hse.insert') }}" }}> Сдать </a>
			</button>
		{% endif %}
		
		<button type="button" class="btn">
		<a class="blog-nav-item" href="{{ url_for('pch.index') }}" }}> Покупка </a>
		</button>
		
		{% if not current_user.is_anonymous %}
			<button type="button" class="btn">
			<a class="blog-nav-item" href="{{ url_for('pch.insert') }}" }}> Продать </a>
			</button>
		{% endif %}
		
		{% if current_user.is_anonymous %}
			<button type="button" class="btn">
			<a class="blog-nav-item" href="{{ url_for('auth.login') }}"> Войти </a>
			</button>
		{% else %}
			<button type="button" class="btn">
			<a class="blog-nav-item" href="{{ url_for('main.user', username=current_user.username) }}"> Профиль </a>
			</button>
			
			<button type="button" class="btn">
			<a class="blog-nav-item" href="{{ url_for('auth.logout') }}"> Выйти </a>
			</button>
		{% endif %}
		
		{% if not current_user.is_anonymous %}
				<button type="button" class="btn">
				<a class="blog-nav-item" href="{{ url_for('admin.index') }}"> Admin Panel </a>
				</button>
		{% endif %}

		</div>
	</nav>
{% endblock %}

{% block content %}
	<div class="container">
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
		{% block app_content %}{% endblock %}
	</div>
{% endblock %}
