
{% extends 'bootstrap/base.html' %}

{% block title %}
	{% if title %}{{ title }} - RR{% else %}Welcome to Realty Radar{% endif %}
{% endblock %}

{% block navbar %}
	<nav class="navbar navbar-default">
		<div class="container">
		<a class="blog-nav-item" href="{{ url_for('main.index') }}" }}>Home</a>
		{% if current_user.is_anonymous %}
			<a class="blog-nav-item" href="{{ url_for('auth.login') }}">Login</a>
		{% else %}
			<a class="blog-nav-item" href="{{ url_for('main.user', username=current_user.username) }}">Profile</a>
			<a class="blog-nav-item" href="{{ url_for('main.explore') }}">Explore</a>
			<a class="blog-nav-item" href="{{ url_for('auth.logout') }}">Logout</a>
		{% endif %}
<!--
		<div>
			<h4>RealtyRadar</h4>
		</div>
-->
		</div>
	</nav>
		
{% endblock %}

{% block content %}
	<div class="container">
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
		{% block app_content %}{% endblock %}
	</div>
{% endblock %}
