{% extends "base.html" %}

{% block app_content %}
    {% if current_user.is_authenticated %}
		<span style="font-size: 18px; font-family: Verdana, Serif;">Здравствуйте, {{ current_user.username }}!</span>
	{% else %}
		<h1>Здравствуйте!</h1>
		<span style="font-size: 18px; font-family: Verdana, Serif;">Для того, чтобы искать недвижимость для покупки или аренды, авторизация не нужна.<br>Если вы хотите выставить на продажу или в аренду недвижимость,<br>пожалуйста, <a href="{{ url_for('auth.login') }}">авторизуйтесь</a> или <a href="{{ url_for('auth.register') }}">зарегистрируйтесь.</a><br>Авторизованным пользователям доступны дополнительные возможности.</span>
	{% endif %}
{% endblock %}
    
