{% extends "base.html" %}

{% block app_content %}
	<table>
        <tr valign="top">
            <td>
                <h1>User: {{ user.username }}</h1>
                {% if user.about %}<p>{{ user.about }}</p>{% endif %}
                {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
				
				{% if user == current_user %}
				<p><a href="{{ url_for('auth.edit_profile') }}">Edit your profile</a></p>
				{% endif %}
            </td>
        </tr>
    </table>
	{% if not current_user.is_anonymous %}
		<div class="container">
			На вашем счету: {{ user.money if user.money else 0.00 }} р.<br>
			Предложения сдать в аренду(
			<a class="blog-nav-item" href="{{ url_for('hse.rent') }}">{{ user.house_offers.count() }}</a>)
			Предложения продать(
			<a class="blog-nav-item" href="{{ url_for('pch.buy') }}">{{ user.purchase_offers.count() }}</a>)
		</div>
	{% endif %}

    {% if posts %}
	<hr>
		{% for post in posts %}
			{% include '_post.html' %}
		{% endfor %}
		{% if prev_url %}
			<a href="{{ prev_url }}">Новые&nbsp;&nbsp;</a>
		{% endif %}
		{% if next_url %}
			<a href="{{ next_url }}">&nbsp;&nbsp;Старые</a>
		{% endif %}
	{% endif %}
{% endblock %}
